
.img-fluid {
    height: 200px; /* Ajustez la hauteur comme nécessaire */
    object-fit: cover; /* Couvrir l'espace de manière uniforme tout en conservant les proportions */
    transition: transform 0.3s ease-in-out; /* Ajouter une transition pour l'effet de survol */
}

.img-fluid:hover {
    transform: scale(1.1); /* Ajustez la valeur pour le niveau d'agrandissement souhaité */
}


.mb-4 {
    margin-bottom: 15px; /* Ajustez la marge en bas comme nécessaire */
}


.first-image {
    margin-top: 0; /* Ajustez la marge supérieure pour aligner la première image */
}

.galerie {
    background-color: #f8f9fa; /* Couleur de fond */
    padding: 20px; /* Espacement interne */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
