#corps{
background-color: #388542;


}

h1{
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}

h2{
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}

.card{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

.card a {
border-color: #883810;
background-color: #F48248;
}

.card a:hover{
background-color: #bd5622;
}

.text{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: #388542;
}

.nav-item a{
color: black;
background-color: #F3F3F3;
border-color: #636363;
}

.nav-item a:hover{
background-color: #6f6d6c;
}

.card-body h3{
color: #F48248;
}

.card h5{
color:#F48248
}
.recherche{
display: flex;
align-items: center;
justify-content: center;
}
.card h2 {
color: #F48248;


}